@model DataLinker.Services.Emails.Models.LegalOfficerVerificationLicenseEmail
Content-Type: text/html; charset=utf-8

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="@Model.UrlToStylesFile">
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td height="60" class="container-logo responsive-image">
                            <img src="@Model.UrlToImageInEmail" width="60" alt="dataLinker" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 30px 0px 30px; vertical-align: top">
                            <div style="font-size: 24px; color: #444; padding-bottom: 20px; font-weight: bold;">Request pending approval</div>
                            <div style="font-size: 14px;">
                                <p>Hello @Model.Name,</p>
                                @if (Model.IsProvider)
                                {
                                    <p>
                                        @Model.OrganizationName has provisionally registered to provide @Model.SchemaName and has registered the attached licence terms that apply to provision of this data.
                                        You are the registered authorised signatory for @Model.OrganizationName. Please review these licence terms and, if in order, use <a href="@Model.LinkToConfirmationScreen">this link</a> to accept these licence terms on behalf of @Model.OrganizationName. NOTE this link may only be used once, so please review the terms first before accessing the link. The link will expire at @DateTime.Now.AddDays(7).
                                    </p>
                                    <p>
                                        Acceptance of these terms will enable your schema and the data agreement that apply to it to be visible to consumers who might be interested in using your data. You will be again notified when an interested consumer has requested access to your provider service.
                                        On your approval, a License Agreement will be executed between you and the consumer organisation. Without limiting DataLinker’s Terms of Use, it is your responsibility to determine that this License Agreement meets the needs of your business and is suitable
                                        for the purpose for which it is intended to be used. You should consider taking professional advice to ensure this is the case. DataLinker accepts no liability arising from your use of or reliance on a License Agreement. Please visit the DataLinker website for more
                                        information or contact us if you have any questions.
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        @Model.OrganizationName has provisionally registered to receive @Model.SchemaName and has selected one or more acceptable licence terms under which it agrees to receive this data.
                                        You are the registered authorised signatory for @Model.OrganizationName. Please review these licence terms and, if in order, use <a href="@Model.LinkToConfirmationScreen">this link</a> to accept these licence terms on behalf of @Model.OrganizationName. NOTE this link may only be used once, so please review the terms first before accessing the link. The link will expire at @DateTime.Now.AddDays(7).
                                    </p>
                                    <p>
                                        Note that DataLinker allows ‘Consumers’ of data to select multiple optional terms it is prepared to accept. DataLinker matches your terms against data providers of @Model.SchemaName, and your system may electronically execute a Licence Agreement directly with matching Providers.
                                    </p>
                                    <p>
                                        You will be notified when a Licence Agreement has been executed. Without limiting DataLinker’s Terms of Use, it is your responsibility to determine that this Licence Agreement meets the needs of your business and is suitable for the purpose for which it is intended to be used. You should consider taking professional advice to ensure this is the case.
                                        DataLinker accepts no liability arising from your use of or reliance on a Licence Agreement. You are advised to ensure that @Model.OrganizationName has the necessary systems, processes and resources in place to manage data received and perform @Model.OrganizationName’s other obligations in accordance with the terms that may be agreed.
                                        Please visit the DataLinker website for more information, or contact us if you have any questions.
                                    </p>
                                }
                                    <p>
                                        Attached License Document for Review – This document records the terms that @Model.OrganizationName is willing to accept as a data Provider using the DataLinker service. It does not yet constitute a License Agreement, but acceptance of these terms will enable interested consumers to be able to view and request access to the provider service.
                                    </p>
                                @if (!Model.IsProvider)
                                {
                                    <p>
                                        As a data Consumer, this document may record multiple ‘optional’ clauses from the DataLinker licence template (refer Section 3 Use and Attribution). This indicates your organisation is prepared to execute a licence agreement with a data provider offering data under any of these terms.
                                    </p>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 30px 30px 30px; vertical-align: top">
                            <div style="font-size: 14px; color: #767676">
                                If you require help, please don't hesitate to contact us by email: <a href="mailto:@(Model.DataLinkerEmail)" class="email" style="color: #5f5f5f;">@Model.DataLinkerEmail</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#1C6C8A" style="padding: 15px 0 15px 30px; color: #FFFFFF;" height="50">
                            <table border="0" cellpadding="0" cellspacing="0" align="left" width="49%">
                                <tr>
                                    <td>
                                        <div class="footer">
                                            <a href="@Model.DataLinkerHost" class="email">www.datalinker.org</a>
                                            <br>
                                            <span style="color: white">Email us to</span> <a href="mailto:@(Model.DataLinkerEmail)" class="email">@Model.DataLinkerEmail</a>
                                            <br>
                                            <br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" align="right" width="49%">
                                <tr>
                                    <td>
                                        <div class="footer"></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>