@using DataLinker.Web.Helpers
@model DataLinker.Models.ConsumerProviderRegistration.LegalApprovalModel
<h2>Consumer Legal Approval View</h2>
<div id="ConfirmationScreenUI">
    <div class="form-horizontal">
        <h4>Data agreement & conditions</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                Please review data agreement by <a href="@Model.LicenseContent">Downloading this file</a>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <div class="checkbox">
                    <label><input class="terms-and-conditions" type="checkbox" id="acceptTnC" name="IsAgreeWithTerms" value="true" />I am authorised by @Model.OrganizationName to execute legal contracts on its behalf</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <div class="checkbox">
                    <label><input class="authorisedBy" type="checkbox" id="authorisedBy" name="IsAgreeWithTerms" value="true" />on behalf of @Model.OrganizationName, I have read this Licence Agreement</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <div class="checkbox">
                    <label><input class="agreeOnBehalf" type="checkbox" id="agreeOnBehalf" name="IsAgreeWithTerms" value="true" />on behalf of @Model.OrganizationName, I agree to @(Model.IsProvider ? "provide" : "recieve") data and on these licence terms</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <a href="#" data-url="@Url.Action("ConsumerLegalDeclineReason", "ConsumerProviderRegistration", new { consumerProviderRegistrationId = Model.ConsumerProviderRegistrationID })" class="decline-reason btn btn-danger">
                    Decline
                </a>
                <a href="@Url.Action("ConsumerLegalApprove", "ConsumerProviderRegistration", new { consumerProviderRegistrationId = Model.ConsumerProviderRegistrationID })" id="control-panel" class="btn btn-success hidden">
                    Approve
                </a>
            </div>
        </div>
        <div class="decline-reason-location">
        </div>
        <h5><b>Have problems with displaying?</b> Use FireFox or Google Chrome to open this page.</h5>
    </div>
</div>
@section scripts
{
    @Html.InitPageMainModule("confirmationScreen")
}

